# Ignore everything
# *
/dataset
/outputs
/train_images
/.idea
original/__pycache__/
original/secrets.py
original/scratch_pad.py
# /stock_history


# But not these files...
!.gitignore
# etc...

# ...even if they are in subdirectories
# !/original

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*